body {
  width: 100%;
  height: 100%;
  margin: 0;}
  
  header {text-align: center;}
  #featured-property {text-align: center;}
  header a {
    text-align: center;
    padding-right: 10px;
    padding-left:10px;
    background-color:grey;
  }
  figcaption {font-size: 11px;} 
  p id="#featured-property {width: 800px;}