body {
  width: 100%;
  height: 100%;
  margin: 0;}
  
  header {text-align: center;}
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
  figcaption {
    font-size: 11px;
    text-align: center;
  }
  #featured-property p {
    width: 800px;
  }

  header a {
    text-align: center;
    padding-right: 10px;
    padding-left:10px;
    background-color:grey;
  }
