body {
  width: 100%;
  height: 100%;
  margin: 0;}
  
  header {text-align: center;}
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  figcaption {
    font-size: 11px;
    text-align: center;
  }
  p #featured-property {
    width: 800px;
    text-align: center;
  }
  
  header a {
    text-align: center;
    padding-right: 10px;
    padding-left:10px;
    background-color:grey;
  }
