body {
  width: 100%;
  height: 100%;
  margin: 0;}
  
  header {text-align: center;}
  figure {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  header a {
    text-align: center;
    padding-right: 10px;
    padding-left:10px;
    background-color:grey;
  }
  figcaption {font-size: 11px;} 
